.wrapper-header {
  width: 100vw;
  height: 350px;
  background: linear-gradient(
    0deg,
    #ffffff,
    #ecf3ff,
    #b9d5ff,
    #9ebdeb,
    #0b5aaa
  );
  @include flex-start;

  .header-img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
  }

  .header-text {
    align-self: flex-end;
    margin: 0 0 40px 5px;
    .header-product-link {
      @include flex-center-space;
    }
  }
}
