.wrapper-home {
  @include flex-center;

  .home-products {
    width: 100vw;
    @include flex-center;

    .home-img {
      width: 50%;
      @include flex-center;

      img {
        width: 450px;
        height: 450px;
        @include br-product-img;
      }
    }
    .home-info {
      align-self: flex-end;
      padding-bottom: 50px;
      width: 50%;

      h2 {
        font-size: 42px;
      }

      h4 {
        font-size: 22px;
      }

      .home-link {
        font-size: 16px;
        text-decoration: none;
        color: #044580;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
