.wrapper-home {
  @include flex-center;
  flex-direction: column;

  .home-products {
    width: 100vw;
    @include flex-center;
    margin-bottom: 75px;

    .home-img {
      width: 50%;
      @include flex-center;

      img {
        width: 450px;
        height: 450px;
        @include br-product-img;
      }
    }
    .home-info {
      align-self: flex-end;
      padding-bottom: 50px;
      width: 50%;

      h2 {
        font-size: 42px;
      }

      h4 {
        font-size: 22px;
      }

      .home-link {
        font-size: 16px;
        text-decoration: none;
        color: #044580;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .home-right {
      text-align: right;
    }
  }

  .wrapper-home-soon {
    border: $help-border; // <------------ remove
    width: 100vw;
    @include flex-center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .home-soon {
      border: 1px dashed blue; // <------------ remove
      width: 500px;
      height: 500px;
      margin-bottom: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
