.wrapper-nav {
  @include flex-center;
  padding-bottom: 25px;

  .nav-link {
    color: black;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #07457b;
      transform: scale(1.1);
    }
  }

  .nav-products {
    margin: 0 30px;
  }
}
